#cart_body{
width: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;

%shared_size {
  padding-right: $Gutter - 10px;
  padding-left: $Gutter - 10px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $Tan;
  text-align: center;
  margin-bottom: 20px;
  .top__links{
    .top__karfa {
     img{
        width: 2ch;
        margin-right: 1ch;
       }
      }
    }
  }
  .cart__body {
    max-width: 1200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .cart__body-title {

    }

    .cart__body-items {
      width: 100%;
      display: flex;
        .cart__body-items-image {
            width: calc(100%/3 - 15px);
            margin-right: 20px;
          img {
            width: 100%;
            height: auto;
          }
        }

        .cart__body-items-info {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: stretch;

            .cart__body-items-info-text {
              margin-bottom: auto;
            }
            .cart__body-items-info-price {

            }

            .cart__body-items-info-buttons {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              %shared_settings  {
                border-radius: 2px;
                border: solid 1px;
                background-color: $White;
                margin-right: 2ch;
                padding: 4px;
              }

              p {
                width: 100%;
              }

              input {
                @extend %shared_settings;
                width: 8ch;
              }

              .uppfaera {
                @extend %shared_settings;
                padding-left: 1ch;
                display: flex;

                img {
                    width: 2ch;
                    height: auto;
                    margin-right: 1ch;
                }
              }

              .eyda-ur-korfu {
                @extend %shared_settings;
                padding-left: 1ch;
                display: flex;

                img {
                    width: 2ch;
                    height: auto;
                    margin-right: 1ch;
                }
              }
            }
        }
    }

    .cart__body-payment {

    }
  }
  }
}
