#staff_body {/* stylelint-disable-line */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  %shared_size {
    padding-right: $Gutter - 10px;
    padding-left: $Gutter - 10px;
  }

  .staff__body {
    @extend %shared_size;
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 100%;
      .cards {
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        @media screen and (min-width: 600px) {
          width: 50%;
        }
        padding: 10px;

        &:hover .cards_inner {
          transform: rotateY(180deg);
        }

        .cards_inner {
          position: relative;
          width: 100%;
          transition: transform 300ms;
          transform-style: preserve-3d;
          backface-visibility: hidden;

          .card_front {
            width: 100%;

            img {
              width: 100%;
              backface-visibility: hidden;
            }
          }

          .card_back {
            position: absolute;
            transform: rotateY(180deg);
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            text-align: center;
            top: 30%;
            padding: 20px;
          }
        }
      }
  }
}
