@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px; }

#staff_body {
  /* stylelint-disable-line */
  width: 100%; }
  #staff_body header, #staff_body footer {
    padding-right: 20px;
    padding-left: 20px; }
  #staff_body header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #afb281;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px; }
    #staff_body header div {
      display: flex;
      justify-content: center; }
      #staff_body header div p {
        min-width: 25%; }
        #staff_body header div p img {
          width: 2ch;
          margin-right: 1ch; }
  #staff_body .staff__body {
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    #staff_body .staff__body .cards {
      width: 50%; }
      #staff_body .staff__body .cards:hover .cards_inner {
        transform: rotateY(180deg); }
      #staff_body .staff__body .cards .cards_inner {
        position: relative;
        width: 100%;
        transition: transform 300ms;
        transform-style: preserve-3d;
        backface-visibility: hidden; }
        #staff_body .staff__body .cards .cards_inner .card_front {
          width: 100%; }
          #staff_body .staff__body .cards .cards_inner .card_front img {
            width: 100%;
            backface-visibility: hidden; }
        #staff_body .staff__body .cards .cards_inner .card_back {
          position: absolute;
          transform: rotateY(180deg);
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          text-align: center;
          top: 35%;
          padding: 20px; }
  #staff_body footer {
    background-color: #cc9694;
    margin-top: 20px; }
