@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px; }

#cart_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  #cart_body footer, #cart_body #staff_body .staff__body, #staff_body #cart_body .staff__body {
    padding-right: 10px;
    padding-left: 10px; }
  #cart_body header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #afb281;
    text-align: center;
    margin-bottom: 20px; }
    #cart_body header .top__links .top__karfa img {
      width: 2ch;
      margin-right: 1ch; }
  #cart_body .cart__body {
    max-width: 1200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    #cart_body .cart__body .cart__body-items {
      width: 100%;
      display: flex; }
      #cart_body .cart__body .cart__body-items .cart__body-items-image {
        width: calc(100%/3 - 15px);
        margin-right: 20px; }
        #cart_body .cart__body .cart__body-items .cart__body-items-image img {
          width: 100%;
          height: auto; }
      #cart_body .cart__body .cart__body-items .cart__body-items-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: stretch; }
        #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-text {
          margin-bottom: auto; }
        #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons {
          width: 100%;
          display: flex;
          flex-wrap: wrap; }
          #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons input, #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons .uppfaera, #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons .eyda-ur-korfu {
            border-radius: 2px;
            border: solid 1px;
            background-color: #fff;
            margin-right: 2ch;
            padding: 4px; }
          #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons p {
            width: 100%; }
          #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons input {
            width: 8ch; }
          #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons .uppfaera {
            padding-left: 1ch;
            display: flex; }
            #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons .uppfaera img {
              width: 2ch;
              height: auto;
              margin-right: 1ch; }
          #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons .eyda-ur-korfu {
            padding-left: 1ch;
            display: flex; }
            #cart_body .cart__body .cart__body-items .cart__body-items-info .cart__body-items-info-buttons .eyda-ur-korfu img {
              width: 2ch;
              height: auto;
              margin-right: 1ch; }
  #cart_body footer {
    background-color: #cc9694;
    margin-top: 20px; }

#staff_body {
  /* stylelint-disable-line */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  #staff_body .staff__body, #staff_body footer {
    padding-right: 10px;
    padding-left: 10px; }
  #staff_body header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #afb281;
    text-align: center;
    margin-bottom: 20px; }
    #staff_body header .top__links .top__karfa img {
      width: 2ch;
      margin-right: 1ch; }
  #staff_body .staff__body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 100%; }
    #staff_body .staff__body .cards {
      padding: 10px; }
      @media screen and (max-width: 600px) {
        #staff_body .staff__body .cards {
          width: 100%; } }
      @media screen and (min-width: 600px) {
        #staff_body .staff__body .cards {
          width: 50%; } }
      #staff_body .staff__body .cards:hover .cards_inner {
        transform: rotateY(180deg); }
      #staff_body .staff__body .cards .cards_inner {
        position: relative;
        width: 100%;
        transition: transform 300ms;
        transform-style: preserve-3d;
        backface-visibility: hidden; }
        #staff_body .staff__body .cards .cards_inner .card_front {
          width: 100%; }
          #staff_body .staff__body .cards .cards_inner .card_front img {
            width: 100%;
            backface-visibility: hidden; }
        #staff_body .staff__body .cards .cards_inner .card_back {
          position: absolute;
          transform: rotateY(180deg);
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          text-align: center;
          top: 30%;
          padding: 20px; }
  #staff_body footer {
    background-color: #cc9694;
    margin-top: 20px; }
