@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;

  // TODO fleiri grunn stillingar
}

// TODO sækja allar sass skrár
@import "scss/cart";
@import "scss/products";
@import "scss/staff";
